a.border {
    all: unset;
    display: block;
    background-color: var(--next-color);
    border-radius: 1em;
    margin: 1em;
    overflow: hidden;
    box-shadow: 0 0 4px var(--next-color);
}

h3 {
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: var(--more-next-color);
    color: var();
}

a:hover {
    box-shadow: 0;
}

a.border:hover h3 {
    background-color: var(--dark-blue-green);
}

div.info-box {
    padding: 10px;
    padding-top: 0;
}
